@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: border-box;
}

body.loading-content .main-content {
    display: none;
}

.logo-rounded {
    width: 160px; /* Adjust the size as needed */
    height: 160px; /* Adjust the size as needed */
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.buy-now-container {
    transition: opacity 0.3s ease;
}

.product-card:hover .buy-now-container {
    opacity: 1;
}

.buy-now-button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-card:hover .buy-now-button {
    background-color: transparent;
    color: #39638A;
    /* Ganti dengan warna latar yang diinginkan saat di-hover */
    transform: scale(1.1); /* Ganti dengan transformasi yang diinginkan saat di-hover */
}

/* .cursor {
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
}
  
.cursor__follower {
    transition: transform .4s;
    width: 6px;
    height: 6px;
} */
  
.modal-content a {
    color: #ccc; 
    transition: color 0.3s ease-in-out;
}

.modal-content a.active,
.modal-content a:hover,
.modal-content a.hovered {
    color: #fff;
}

.preview-button {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.owl-carousel-item-container:hover .preview-button {
    opacity: 1;
}

.owl-carousel-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}



#gallery_01 img {
    border: 2px solid white;
}

/*Change the colour*/
.active img {
    border: 2px solid #333 !important;
}

@keyframes shake {
0% { transform: translateX(0); }
25% { transform: translateX(-5px); }
50% { transform: translateX(5px); }
75% { transform: translateX(-5px); }
100% { transform: translateX(0); }
}

.card-timeline svg {
animation: shake 0.5s ease-in-out infinite;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, [class^=swiper-button-] {
    transition: all 0.3s ease;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .swiper-container {
    width: 100%;
    height: 28vw;
    transition: opacity 0.6s ease;
  }
  .swiper-container.swiper-container-coverflow {
    padding-top: 2%;
  }
  .swiper-container.loading {
    opacity: 0;
    visibility: hidden;
  }
  .swiper-container:hover .swiper-button-prev,
  .swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  .swiper-slide .entity-img {
    display: none;
  }
  .swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
  }
  .swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
  }
  
  [class^=swiper-button-] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
  }
  
  .swiper-button-prev {
    transform: translateX(50px);
  }
  
  .swiper-button-next {
    transform: translateX(-50px);
  }
  
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.4;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    border: 0px solid #fff;
    border-radius: 50%;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px;
  }
  
  @media (max-width: 1180px) {
    .swiper-slide .content .title {
      font-size: 25px;
    }
    .swiper-slide .content .caption {
      font-size: 12px;
    }
  }
  @media (max-width: 1023px) {
    .swiper-container {
      height: 40vw;
    }
    .swiper-container.swiper-container-coverflow {
      padding-top: 0;
    }
  }
  
.glide__slide {
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: transform 0.5s;
}

.glide__slide.glide__slide--active {
    transform: translateZ(50px);
}




