@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: border-box;
}

body.loading-content .main-content {
    display: none;
}

.logo-rounded {
    width: 160px; /* Adjust the size as needed */
    height: 160px; /* Adjust the size as needed */
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.buy-now-container {
    transition: opacity 0.3s ease;
}

.product-card:hover .buy-now-container {
    opacity: 1;
}

.buy-now-button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-card:hover .buy-now-button {
    background-color: transparent;
    color: #39638A;
    /* Ganti dengan warna latar yang diinginkan saat di-hover */
    transform: scale(1.1); /* Ganti dengan transformasi yang diinginkan saat di-hover */
}

/* .cursor {
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
}
  
.cursor__follower {
    transition: transform .4s;
    width: 6px;
    height: 6px;
} */
  
.modal-content a {
    color: #ccc; 
    transition: color 0.3s ease-in-out;
}

.modal-content a.active,
.modal-content a:hover,
.modal-content a.hovered {
    color: #fff;
}

.preview-button {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.owl-carousel-item-container:hover .preview-button {
    opacity: 1;
}

.owl-carousel-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}



#gallery_01 img {
    border: 2px solid white;
}

/*Change the colour*/
.active img {
    border: 2px solid #333 !important;
}

@keyframes shake {
0% { transform: translateX(0); }
25% { transform: translateX(-5px); }
50% { transform: translateX(5px); }
75% { transform: translateX(-5px); }
100% { transform: translateX(0); }
}

.card-timeline svg {
animation: shake 0.5s ease-in-out infinite;
}
  




